/* ==== WEB FONTS ==== */
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

/* ===== CONTAINER ELEMENT STYLES ===== */
* {
   box-sizing: border-box;
}
body {
   color: #fff;
   margin: 0;
   font-family: 'Patrick Hand SC', cursive;
   overflow: hidden;
   background-color: #222;
}

audio {
   display: none;
}

.tab, 
.underlay, 
.main_container, 
.container, 
.player_container, 
.audio_name, 
.about_container, 
.ear_svg    {
      position: absolute;
}

.tab,
.button, 
.quote, 
.ear_svg, 
.about_container {
   cursor: pointer;
}

.main_container {
   margin:   0;
   padding: 0;
   height: 100%;
   width: 100%;
}

.application {
   padding: 10px;
   margin-top: 10px;
   height: auto;
} 

.container {
   top: 260px;
   left: 0;
   right: 0;
}

.button {
   text-align: center;
   margin:   0;
}

/* ==== QUOTE ==== */
.quote-row {
   text-align: center;
   top: 200px;
}

.quote_container {
   -webkit-animation:spin 30s linear infinite;
   -moz-animation:spin 30s linear infinite;
   animation:spin 30s linear infinite;
}

.quote {
   font-size: 18pt;
   text-align: center;
   position: relative;
   top: 20px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* ==== PLAYER ==== */
.player_container { 
   height: 40px;
   width: 134px;
   bottom: 0;
   left: 0;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.audio_name {
   bottom: 45px;
   left: 5px;
   font-style: italic;
}

/* ==== EAR ==== */
.ear_svg {
   opacity: .4;
   bottom: 70px;
   left: 10px;
   transition: 1s;
}

.ear_svg:hover {
   opacity: 1;
   transition: 1s;
}

/* ==== ABOUT ==== */
.about_container {
   padding: 20px;
   bottom: -15px;
   right: -10px;
   border-radius: 2px;
   padding-bottom: 0px;
   width: 280px;
   opacity: .8;
   z-index: 20;
   margin: 0;
   display: none;
}

/* ==== TAB ==== */
.tab {
   background-color: #1675b3;
   margin: 0;
   width: 40px;
   height: 40px;
   text-align: center;
   bottom: -15px;
   right: 20px;
}

/* ==== ANIMATION   ==== */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* ==== MEDIA QUERIES ==== */

@media screen and (max-width: 600px){
      .tab, .player_container,   .ear_svg {
         display: none;
      }

      .container {
         top: 150px;
      }
   }
